<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/jquery.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/jquery-ui.min.js"></script>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/ResizeSensor.js"></script>

            <link rel="stylesheet"  href="https://assets.pyecharts.org/assets/v5/jquery-ui.css">

</head>
<body >
    <style>.box {  } </style>
        <button onclick="downloadCfg()">Save Config</button>
    <div class="box">
                <div id="ccc745a91c50469cac00b58146b754f2" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_ccc745a91c50469cac00b58146b754f2 = echarts.init(
            document.getElementById('ccc745a91c50469cac00b58146b754f2'), 'white', {renderer: 'canvas'});
        var option_ccc745a91c50469cac00b58146b754f2 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u673a\u578b\u6570\u636e\u5206\u6790",
            "legendHoverLink": true,
            "data": [
                71,
                62,
                38,
                35,
                27,
                26,
                26,
                25,
                25,
                25,
                16,
                16,
                11,
                11,
                11,
                11,
                10,
                9,
                9,
                9,
                8,
                8,
                8,
                8,
                7,
                7,
                7,
                7,
                7,
                7,
                6,
                6,
                6,
                6,
                6,
                6,
                5,
                5,
                5,
                4,
                4,
                4,
                4,
                3,
                3,
                3,
                3,
                3,
                3,
                3,
                3,
                3,
                3,
                3,
                2,
                2,
                2,
                2,
                2,
                2,
                2,
                2,
                2,
                1,
                1,
                1,
                1,
                1,
                1,
                1,
                1,
                1,
                1,
                1,
                1,
                1,
                1,
                1,
                1,
                1,
                1,
                1
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u673a\u578b\u6570\u636e\u5206\u6790"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "PW\u5e02\u573aHOPE-6000DS \u76d2\u7ebf",
                "PW\u521b\u7ef4GA65SP-1903420",
                "PW\u65b0\u5a01\u5c14A203-PFC-340W-6.8V-GW",
                "PW\u5e02\u573aGW-4000SW",
                "PW\u5e02\u573aGW-730 V02",
                "PW\u4e2d\u4fe1\u79d1HXPAD340-220D28-01R3",
                "PW\u5e02\u573a\u76ca\u8fbeGW-2U600",
                "PW\u5e02\u573a\u76ca\u8fbeGW-4000AD",
                "PW CE PAC70S12-AN",
                "PW\u5e02\u573aGW-800",
                "PW\u4e94\u821fGW-6000(80+) REV:01",
                "PW\u5e02\u573aGW-6000SW",
                "PW\u5149\u7535\u663e\u793aXSP-E250WV45B",
                "PW\u540c\u65b9PRO GW-4500(85+) N2",
                "PW\u5e02\u573a\u76ca\u8fbeGW-5000AD",
                "PW\u667a\u90a6\u6c49\u67cfGW-TO850WDV53-A R02",
                "PW\u5e02\u573aGW-5200DKX V01",
                "PW\u5e02\u573aBTX-400SEL-P4",
                "PW\u5e02\u573aHOPE-7000DS \u76d2\u7ebf",
                "PW\u5e02\u573aHOPE-5000DS \u76d2\u7ebf",
                "PW\u8bc1\u901aGW-A400DB-ZT",
                "PW\u5e02\u573aGW-4000SW \u76d2",
                "PW\u534e\u7855C700 V01",
                "PW\u7814\u626cGW-MATX250",
                "PW\u6d77\u5c14GW-200SAH",
                "PW\u5e02\u573aBTX-400SD",
                "PW\u5e02\u573aGW-ATX450NF V01",
                "PW\u5e02\u573aATX-350P4(\u5347\u7ea7\u7248)",
                "PW\u5b9d\u5fb7GW-EPS2U350",
                "PW\u957f\u57ce\u4fe1\u5b89GW-160SAH",
                "PW\u5e02\u573a\u730e\u91d1GW-ATX750BL V01 \u76d2\u7ebf",
                "PW\u83f2\u83f1\u79d1\u601dGW-TO850WDV53 R01",
                "PW\u897f\u95e8\u5b50GW-T30DV12",
                "PW\u6d77\u5c14BTX-500GT",
                "PW\u5e02\u573aHOPE-4500DS \u76d2\u7ebf",
                "PW\u5e02\u573aGW-700 V01",
                "PW\u6d6a\u6f6eGW-T200SPHA REV:02",
                "PW\u5e02\u573aGW-425",
                "PW\u601d\u4e50GW-FU250SDA V01",
                "PW\u5e02\u573aGW-600ZG \u76d2\u7ebf",
                "PW\u5317\u7814HPSL380-ADS",
                "PW\u534e\u4e09GW-TO7WV33B VER:S00",
                "PW\u957f\u57ce\u4fe1\u606fDPM201-320ST",
                "PW\u5e02\u573aGW-725ZG \u76d2\u7ebf",
                "PW\u6df1\u592a\u79d1\u6280GA120SD1-12010000 \u7ebf",
                "PW\u5e02\u573aGW-5000SW \u76d2",
                "PW\u5e02\u573aGW-Q400",
                "PW\u5b9d\u5fb7GW-EPS1U300WB V01",
                "PW\u5ddd\u7530PW-120B",
                "PW\u5317\u7814GW-TO250WDV53 VER:S01",
                "PW\u5e02\u573a\u76ca\u8fbeGW-5000AD \u76d2\u7ebf",
                "PW\u5e02\u573aGW-630 V02",
                "PW\u949b\u535a\u79d1\u6280GW-PD65SWS",
                "PW\u540c\u65b9GA120SD1-19006320",
                "PW\u5e02\u573a\u730e\u91d1GW-ATX500BL SLV V01 \u76d2\u7ebf",
                "PW\u6d6a\u6f6eGW-6000(80+) REV:02",
                "PW\u6377\u901a\u6052\u6cf0GW-6000(80+) REV:01",
                "PW\u5e02\u573aGW-330 V01",
                "PW\u5e02\u573aATX-3006K V01",
                "PW\u730e\u91d1GW-EPS600DA(90+) V01 \u76d2\u7ebf",
                "PW CE PAC180D5312-ON",
                "PW\u5e02\u573aGW-400ZG \u76d2",
                "PW\u884c\u4e1aGW-A300SHF-SP",
                "PW\u5e02\u573a\u76ca\u8fbeGW-6000AD",
                "PW\u5bcc\u58eb\u5eb7GW-TO525WDV R01",
                "PW\u5e02\u573a\u730e\u91d1GW-TF600(85+) \u76d2\u7ebf",
                "PW\u6e56\u5357\u957f\u57ceGA90SD1-1904730",
                "PW\u4e09\u73af\u5f69\u7968\u673aLTPS350-X0 V01",
                "PW\u82af\u53d1\u5a01\u8fbeGW-FLX250M",
                "PW\u5e02\u573aGW-6000SW \u76d2",
                "PW\u5e02\u573aATX-3002 \u5c0f\u9738\u738b\u7248 V01",
                "PW\u5e02\u573aGW-530 V02",
                "PW CE PAC150S12-ON",
                "\u66d9\u5149GW-4000(80+) REV:03",
                "PW\u661f\u7f51\u9510\u6377GW-A350SHD",
                "PW\u884c\u4e1aGW-EPS2U600",
                "PW\u6d6a\u6f6eBTX-3031 V06",
                "PW\u6770\u548cGA40SC2-1902100",
                "PW\u601d\u4e50GW-SL200AW",
                "PW\u5e02\u573aGW-7000SW \u76d2",
                "PW\u5e02\u573a\u730e\u91d1F-1000BL(92+) \u76d2\u7ebf",
                "PW\u5e02\u573aGW-FLX250SSA"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u673a\u578b\u6570\u636e\u5206\u6790\uff08slider-\u6c34\u5e73\uff09",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ],
    "dataZoom": {
        "show": true,
        "type": "slider",
        "showDetail": true,
        "showDataShadow": true,
        "realtime": true,
        "start": 20,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false,
        "filterMode": "filter"
    }
};
        chart_ccc745a91c50469cac00b58146b754f2.setOption(option_ccc745a91c50469cac00b58146b754f2);
    </script>
<br/>                <div id="d1e60ba3aeaf4054ab3f9929db85bc06" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_d1e60ba3aeaf4054ab3f9929db85bc06 = echarts.init(
            document.getElementById('d1e60ba3aeaf4054ab3f9929db85bc06'), 'white', {renderer: 'canvas'});
        var option_d1e60ba3aeaf4054ab3f9929db85bc06 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "pie",
            "colorBy": "data",
            "legendHoverLink": true,
            "selectedMode": false,
            "selectedOffset": 10,
            "clockwise": true,
            "startAngle": 90,
            "minAngle": 0,
            "minShowLabelAngle": 0,
            "avoidLabelOverlap": true,
            "stillShowZeroSum": true,
            "percentPrecision": 2,
            "showEmptyCircle": true,
            "emptyCircleStyle": {
                "color": "lightgray",
                "borderColor": "#000",
                "borderWidth": 0,
                "borderType": "solid",
                "borderDashOffset": 0,
                "borderCap": "butt",
                "borderJoin": "bevel",
                "borderMiterLimit": 10,
                "opacity": 1
            },
            "data": [
                {
                    "name": "20.3%",
                    "value": 139
                },
                {
                    "name": "16.2%",
                    "value": 111
                },
                {
                    "name": "15.2%",
                    "value": 104
                },
                {
                    "name": "11.3%",
                    "value": 77
                },
                {
                    "name": "10.8%",
                    "value": 74
                }
            ],
            "radius": [
                "30%",
                "55%"
            ],
            "center": [
                "25%",
                "60%"
            ],
            "roseType": "radius",
            "label": {
                "show": true,
                "margin": 8
            },
            "labelLine": {
                "show": true,
                "showAbove": false,
                "length": 15,
                "length2": 15,
                "smooth": false,
                "minTurnAngle": 90,
                "maxSurfaceAngle": 90
            },
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "formatter": "{a} <br/>{b}: {c} ({d}%)",
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        },
        {
            "type": "pie",
            "colorBy": "data",
            "legendHoverLink": true,
            "selectedMode": false,
            "selectedOffset": 10,
            "clockwise": true,
            "startAngle": 90,
            "minAngle": 0,
            "minShowLabelAngle": 0,
            "avoidLabelOverlap": true,
            "stillShowZeroSum": true,
            "percentPrecision": 2,
            "showEmptyCircle": true,
            "emptyCircleStyle": {
                "color": "lightgray",
                "borderColor": "#000",
                "borderWidth": 0,
                "borderType": "solid",
                "borderDashOffset": 0,
                "borderCap": "butt",
                "borderJoin": "bevel",
                "borderMiterLimit": 10,
                "opacity": 1
            },
            "data": [
                {
                    "name": "\u8bef\u5224",
                    "value": 139
                },
                {
                    "name": "\u8865\u710a\u4f5c\u4e1a\u4e0d\u826f",
                    "value": 111
                },
                {
                    "name": "\u6765\u6599\u4e0d\u826f",
                    "value": 104
                },
                {
                    "name": "\u63d2\u88c5\u4f5c\u4e1a\u4e0d\u826f",
                    "value": 77
                },
                {
                    "name": "\u52a0\u5de5\u4f5c\u4e1a\u4e0d\u826f",
                    "value": 74
                },
                {
                    "name": "\u5176\u5b83",
                    "value": 50
                },
                {
                    "name": "\u7ec4\u88c5\u4f5c\u4e1a\u4e0d\u826f",
                    "value": 32
                },
                {
                    "name": "SMT\u4e0d\u826f",
                    "value": 30
                },
                {
                    "name": "\u6ce2\u5cf0\u4f5c\u4e1a\u4e0d\u826f",
                    "value": 27
                },
                {
                    "name": "\u8bbe\u8ba1\u4e0d\u826f",
                    "value": 18
                },
                {
                    "name": "\u5c0f\u677f\u4f5c\u4e1a\u4e0d\u826f",
                    "value": 10
                },
                {
                    "name": "\u7a0b\u5e8f",
                    "value": 8
                },
                {
                    "name": "\u4eba\u4e3a",
                    "value": 3
                },
                {
                    "name": "AI\u4e0d\u826f",
                    "value": 1
                }
            ],
            "radius": [
                "30%",
                "55%"
            ],
            "center": [
                "70%",
                "60%"
            ],
            "roseType": "area",
            "label": {
                "show": true,
                "margin": 8
            },
            "labelLine": {
                "show": true,
                "showAbove": false,
                "length": 15,
                "length2": 15,
                "smooth": false,
                "minTurnAngle": 90,
                "maxSurfaceAngle": 90
            },
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "enterable": false,
                "confine": false,
                "appendToBody": false,
                "transitionDuration": 0.4,
                "formatter": "{a} <br/>{b}: {c} ({d}%)",
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5,
                "order": "seriesAsc"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "20.3%",
                "16.2%",
                "15.2%",
                "11.3%",
                "10.8%",
                "\u8bef\u5224",
                "\u8865\u710a\u4f5c\u4e1a\u4e0d\u826f",
                "\u6765\u6599\u4e0d\u826f",
                "\u63d2\u88c5\u4f5c\u4e1a\u4e0d\u826f",
                "\u52a0\u5de5\u4f5c\u4e1a\u4e0d\u826f",
                "\u5176\u5b83",
                "\u7ec4\u88c5\u4f5c\u4e1a\u4e0d\u826f",
                "SMT\u4e0d\u826f",
                "\u6ce2\u5cf0\u4f5c\u4e1a\u4e0d\u826f",
                "\u8bbe\u8ba1\u4e0d\u826f",
                "\u5c0f\u677f\u4f5c\u4e1a\u4e0d\u826f",
                "\u7a0b\u5e8f",
                "\u4eba\u4e3a",
                "AI\u4e0d\u826f"
            ],
            "selected": {},
            "show": true,
            "left": "25%",
            "orient": "horizontal",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "\u7ef4\u4fee\u4e0d\u826f\u7c7b\u522bTOP5-\u73ab\u7470\u56fe",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_d1e60ba3aeaf4054ab3f9929db85bc06.setOption(option_d1e60ba3aeaf4054ab3f9929db85bc06);
    </script>
<br/>                <div id="95c39f81b88f4e789057a5f5fa633ca8" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_95c39f81b88f4e789057a5f5fa633ca8 = echarts.init(
            document.getElementById('95c39f81b88f4e789057a5f5fa633ca8'), 'white', {renderer: 'canvas'});
        var option_95c39f81b88f4e789057a5f5fa633ca8 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "pie",
            "colorBy": "data",
            "legendHoverLink": true,
            "selectedMode": false,
            "selectedOffset": 10,
            "clockwise": true,
            "startAngle": 90,
            "minAngle": 0,
            "minShowLabelAngle": 0,
            "avoidLabelOverlap": true,
            "stillShowZeroSum": true,
            "percentPrecision": 2,
            "showEmptyCircle": true,
            "emptyCircleStyle": {
                "color": "lightgray",
                "borderColor": "#000",
                "borderWidth": 0,
                "borderType": "solid",
                "borderDashOffset": 0,
                "borderCap": "butt",
                "borderJoin": "bevel",
                "borderMiterLimit": 10,
                "opacity": 1
            },
            "data": [
                {
                    "name": "\u8bef\u5224",
                    "value": 23.0
                }
            ],
            "radius": [
                60,
                80
            ],
            "center": [
                "20%",
                "30%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":             function(params) {                if(params.name == '\u5176\u4ed6')                    return '' + params.name + ' : ' + params.value + '%';                return params.name + ' : ' + params.value + '%';            }            
            },
            "labelLine": {
                "show": true,
                "showAbove": false,
                "length": 15,
                "length2": 15,
                "smooth": false,
                "minTurnAngle": 90,
                "maxSurfaceAngle": 90
            }
        },
        {
            "type": "pie",
            "colorBy": "data",
            "legendHoverLink": true,
            "selectedMode": false,
            "selectedOffset": 10,
            "clockwise": true,
            "startAngle": 90,
            "minAngle": 0,
            "minShowLabelAngle": 0,
            "avoidLabelOverlap": true,
            "stillShowZeroSum": true,
            "percentPrecision": 2,
            "showEmptyCircle": true,
            "emptyCircleStyle": {
                "color": "lightgray",
                "borderColor": "#000",
                "borderWidth": 0,
                "borderType": "solid",
                "borderDashOffset": 0,
                "borderCap": "butt",
                "borderJoin": "bevel",
                "borderMiterLimit": 10,
                "opacity": 1
            },
            "data": [
                {
                    "name": "\u672c\u4f53\u4e0d\u826f",
                    "value": 15.0
                }
            ],
            "radius": [
                60,
                80
            ],
            "center": [
                "60%",
                "30%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":             function(params) {                if(params.name == '\u5176\u4ed6')                    return '' + params.name + ' : ' + params.value + '%';                return params.name + ' : ' + params.value + '%';            }            
            },
            "labelLine": {
                "show": true,
                "showAbove": false,
                "length": 15,
                "length2": 15,
                "smooth": false,
                "minTurnAngle": 90,
                "maxSurfaceAngle": 90
            }
        },
        {
            "type": "pie",
            "colorBy": "data",
            "legendHoverLink": true,
            "selectedMode": false,
            "selectedOffset": 10,
            "clockwise": true,
            "startAngle": 90,
            "minAngle": 0,
            "minShowLabelAngle": 0,
            "avoidLabelOverlap": true,
            "stillShowZeroSum": true,
            "percentPrecision": 2,
            "showEmptyCircle": true,
            "emptyCircleStyle": {
                "color": "lightgray",
                "borderColor": "#000",
                "borderWidth": 0,
                "borderType": "solid",
                "borderDashOffset": 0,
                "borderCap": "butt",
                "borderJoin": "bevel",
                "borderMiterLimit": 10,
                "opacity": 1
            },
            "data": [
                {
                    "name": "\u9521\u77ed\u8def",
                    "value": 14.000000000000002
                }
            ],
            "radius": [
                60,
                80
            ],
            "center": [
                "20%",
                "70%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":             function(params) {                if(params.name == '\u5176\u4ed6')                    return '' + params.name + ' : ' + params.value + '%';                return params.name + ' : ' + params.value + '%';            }            
            },
            "labelLine": {
                "show": true,
                "showAbove": false,
                "length": 15,
                "length2": 15,
                "smooth": false,
                "minTurnAngle": 90,
                "maxSurfaceAngle": 90
            }
        },
        {
            "type": "pie",
            "colorBy": "data",
            "legendHoverLink": true,
            "selectedMode": false,
            "selectedOffset": 10,
            "clockwise": true,
            "startAngle": 90,
            "minAngle": 0,
            "minShowLabelAngle": 0,
            "avoidLabelOverlap": true,
            "stillShowZeroSum": true,
            "percentPrecision": 2,
            "showEmptyCircle": true,
            "emptyCircleStyle": {
                "color": "lightgray",
                "borderColor": "#000",
                "borderWidth": 0,
                "borderType": "solid",
                "borderDashOffset": 0,
                "borderCap": "butt",
                "borderJoin": "bevel",
                "borderMiterLimit": 10,
                "opacity": 1
            },
            "data": [
                {
                    "name": "\u7834\u635f",
                    "value": 6.3
                }
            ],
            "radius": [
                60,
                80
            ],
            "center": [
                "60%",
                "70%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":             function(params) {                if(params.name == '\u5176\u4ed6')                    return '' + params.name + ' : ' + params.value + '%';                return params.name + ' : ' + params.value + '%';            }            
            },
            "labelLine": {
                "show": true,
                "showAbove": false,
                "length": 15,
                "length2": 15,
                "smooth": false,
                "minTurnAngle": 90,
                "maxSurfaceAngle": 90
            }
        },
        {
            "type": "pie",
            "colorBy": "data",
            "legendHoverLink": true,
            "selectedMode": false,
            "selectedOffset": 10,
            "clockwise": true,
            "startAngle": 90,
            "minAngle": 0,
            "minShowLabelAngle": 0,
            "avoidLabelOverlap": true,
            "stillShowZeroSum": true,
            "percentPrecision": 2,
            "showEmptyCircle": true,
            "emptyCircleStyle": {
                "color": "lightgray",
                "borderColor": "#000",
                "borderWidth": 0,
                "borderType": "solid",
                "borderDashOffset": 0,
                "borderCap": "butt",
                "borderJoin": "bevel",
                "borderMiterLimit": 10,
                "opacity": 1
            },
            "data": [
                {
                    "name": "\u5185\u90e8\u77ed\u8def",
                    "value": 6.0
                }
            ],
            "radius": [
                60,
                80
            ],
            "center": [
                "40%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "center",
                "margin": 8,
                "formatter":             function(params) {                if(params.name == '\u5176\u4ed6')                    return '' + params.name + ' : ' + params.value + '%';                return params.name + ' : ' + params.value + '%';            }            
            },
            "labelLine": {
                "show": true,
                "showAbove": false,
                "length": 15,
                "length2": 15,
                "smooth": false,
                "minTurnAngle": 90,
                "maxSurfaceAngle": 90
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u8bef\u5224",
                "\u672c\u4f53\u4e0d\u826f",
                "\u9521\u77ed\u8def",
                "\u7834\u635f",
                "\u5185\u90e8\u77ed\u8def"
            ],
            "selected": {},
            "type": "scroll",
            "show": true,
            "left": "80%",
            "top": "20%",
            "orient": "vertical",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "TOP5\u591a\u6bd4\u997c\u56fe",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_95c39f81b88f4e789057a5f5fa633ca8.setOption(option_95c39f81b88f4e789057a5f5fa633ca8);
    </script>
<br/>                <div id="e00c703043e44e6184440f6214b1732e" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_e00c703043e44e6184440f6214b1732e = echarts.init(
            document.getElementById('e00c703043e44e6184440f6214b1732e'), 'white', {renderer: 'canvas'});
        var option_e00c703043e44e6184440f6214b1732e = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#d14a61",
        "#5793f3",
        "green",
        "#060bb0",
        "#675bba",
        "#65B581",
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u5de5\u8d44\u6210\u672c",
            "yAxisIndex": 1,
            "legendHoverLink": true,
            "data": [
                745.34,
                515.23,
                448.92,
                543.08,
                476.2,
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u901a\u8baf\u4e0a\u7ebfDPPM",
            "yAxisIndex": 2,
            "legendHoverLink": true,
            "data": [
                0.0,
                132.0,
                29.0,
                0.0,
                42.0,
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "\u8fd4\u5de5\u5de5\u65f6",
            "yAxisIndex": 1,
            "legendHoverLink": true,
            "data": [
                835.0,
                1317.0,
                2509.0,
                3624.0,
                1965.0,
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        },
        {
            "type": "bar",
            "name": "PC\u4ea7\u54c15\u6708\u65e9\u8fd4\u7387(DPPM)",
            "yAxisIndex": 2,
            "legendHoverLink": true,
            "data": [
                291.0,
                307.1,
                216.9,
                74.6,
                168.9,
                null,
                null,
                null,
                null,
                null,
                null,
                null
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            }
        },
        {
            "type": "line",
            "name": "\u62bd\u68c0\u826f\u7387",
            "connectNulls": false,
            "xAxisIndex": 0,
            "yAxisIndex": 2,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    98.75
                ],
                [
                    "2\u6708",
                    96.69
                ],
                [
                    "3\u6708",
                    98.18
                ],
                [
                    "4\u6708",
                    99.36
                ],
                [
                    "5\u6708",
                    98.03
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        },
        {
            "type": "line",
            "name": "\u76f4\u901a\u7387",
            "connectNulls": false,
            "xAxisIndex": 0,
            "yAxisIndex": 5,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "clip": true,
            "step": false,
            "data": [
                [
                    "1\u6708",
                    99.2
                ],
                [
                    "2\u6708",
                    99.18
                ],
                [
                    "3\u6708",
                    99.98
                ],
                [
                    "4\u6708",
                    99.48
                ],
                [
                    "5\u6708",
                    99.13
                ],
                [
                    "6\u6708",
                    null
                ],
                [
                    "7\u6708",
                    null
                ],
                [
                    "8\u6708",
                    null
                ],
                [
                    "9\u6708",
                    null
                ],
                [
                    "10\u6708",
                    null
                ],
                [
                    "11\u6708",
                    null
                ],
                [
                    "12\u6708",
                    null
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "margin": 8
            },
            "logBase": 10,
            "seriesLayoutBy": "column",
            "lineStyle": {
                "show": true,
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u5de5\u8d44\u6210\u672c",
                "\u901a\u8baf\u4e0a\u7ebfDPPM",
                "\u8fd4\u5de5\u5de5\u65f6",
                "PC\u4ea7\u54c15\u6708\u65e9\u8fd4\u7387(DPPM)",
                "\u62bd\u68c0\u826f\u7387",
                "\u76f4\u901a\u7387"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "axis",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "cross"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "1\u6708",
                "2\u6708",
                "3\u6708",
                "4\u6708",
                "5\u6708",
                "6\u6708",
                "7\u6708",
                "8\u6708",
                "9\u6708",
                "10\u6708",
                "11\u6708",
                "12\u6708"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u901a\u8baf\u4e0a\u7ebfDPPM",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "#5793f3"
                }
            },
            "axisLabel": {
                "show": true,
                "margin": 8,
                "formatter": "{value} DPPM"
            },
            "inverse": false,
            "position": "right",
            "offset": 68,
            "splitNumber": 5,
            "min": 0,
            "max": 550,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "type": "value",
            "name": "\u5de5\u8d44\u6210\u672c",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "#d14a61"
                }
            },
            "axisLabel": {
                "show": true,
                "margin": 8,
                "formatter": "{value} RMB"
            },
            "inverse": false,
            "position": "right",
            "offset": 50,
            "splitNumber": 5,
            "min": 0,
            "max": 4000,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "type": "value",
            "name": "PC\u4ea7\u54c15\u6708\u65e9\u8fd4\u7387",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "#675bba"
                }
            },
            "axisLabel": {
                "show": true,
                "margin": 8,
                "formatter": "{value} DPPM"
            },
            "inverse": false,
            "position": "left",
            "offset": 50,
            "splitNumber": 5,
            "min": 0,
            "max": 800,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "type": "value",
            "name": "\u8fd4\u5de5\u5de5\u65f6",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "#675bba"
                }
            },
            "axisLabel": {
                "show": true,
                "margin": 8,
                "formatter": "{value} DPPM"
            },
            "inverse": false,
            "position": "left",
            "offset": 50,
            "splitNumber": 5,
            "min": 0,
            "max": 4000,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "type": "value",
            "name": "\u62bd\u68c0\u826f\u7387",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "#675bba"
                }
            },
            "axisLabel": {
                "show": true,
                "margin": 8,
                "formatter": "{value} %"
            },
            "inverse": false,
            "position": "left",
            "offset": 95,
            "splitNumber": 5,
            "min": 0,
            "max": 100,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "type": "value",
            "name": " ",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid",
                    "color": "#999bb0"
                }
            },
            "axisLabel": {
                "show": true,
                "margin": 8,
                "formatter": "{value} %"
            },
            "inverse": false,
            "position": "right",
            "offset": 30,
            "splitNumber": 5,
            "min": 0,
            "max": 600,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "text": "\u8d28\u91cfKPI\u7edf\u8ba1\u56fe",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_e00c703043e44e6184440f6214b1732e.setOption(option_e00c703043e44e6184440f6214b1732e);
    </script>
<br/>    </div>
    <script>
            $('#ccc745a91c50469cac00b58146b754f2').resizable().draggable().css('border-style', 'dashed').css('border-width', '1px');$("#ccc745a91c50469cac00b58146b754f2>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#ccc745a91c50469cac00b58146b754f2'), function() { chart_ccc745a91c50469cac00b58146b754f2.resize()});
            $('#d1e60ba3aeaf4054ab3f9929db85bc06').resizable().draggable().css('border-style', 'dashed').css('border-width', '1px');$("#d1e60ba3aeaf4054ab3f9929db85bc06>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#d1e60ba3aeaf4054ab3f9929db85bc06'), function() { chart_d1e60ba3aeaf4054ab3f9929db85bc06.resize()});
            $('#95c39f81b88f4e789057a5f5fa633ca8').resizable().draggable().css('border-style', 'dashed').css('border-width', '1px');$("#95c39f81b88f4e789057a5f5fa633ca8>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#95c39f81b88f4e789057a5f5fa633ca8'), function() { chart_95c39f81b88f4e789057a5f5fa633ca8.resize()});
            $('#e00c703043e44e6184440f6214b1732e').resizable().draggable().css('border-style', 'dashed').css('border-width', '1px');$("#e00c703043e44e6184440f6214b1732e>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#e00c703043e44e6184440f6214b1732e'), function() { chart_e00c703043e44e6184440f6214b1732e.resize()});
            var charts_id = ['ccc745a91c50469cac00b58146b754f2','d1e60ba3aeaf4054ab3f9929db85bc06','95c39f81b88f4e789057a5f5fa633ca8','e00c703043e44e6184440f6214b1732e'];
function downloadCfg () {
    const fileName = 'chart_config.json'
    let downLink = document.createElement('a')
    downLink.download = fileName

    let result = []
    for(let i=0; i<charts_id.length; i++) {
        chart = $('#'+charts_id[i])
        result.push({
            cid: charts_id[i],
            width: chart.css("width"),
            height: chart.css("height"),
            top: chart.offset().top + "px",
            left: chart.offset().left + "px"
        })
    }

    let blob = new Blob([JSON.stringify(result)])
    downLink.href = URL.createObjectURL(blob)
    document.body.appendChild(downLink)
    downLink.click()
    document.body.removeChild(downLink)
}
    </script>
</body>
</html>
